<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Registro</title>
    <link rel="stylesheet" href="../../css/finregistro.css">
</head>
<body>
    <nav>
        <ul>
            <li>
    <h1>Su Registro se ha completado con éxito</h1>
    <p>En unos momentos le llegará un mensaje a su correo electrónico para poder verificar su cuenta gracias por utilizar nuestros servicios</p>
            </li>
        </ul>
    </nav>
    <nav>
        <ul>
            <li>
                <div class="iniciarS">
                  <a href="../../index.html"><button type="button" name="logIn">Volver a Inicio</button></a>
                </div>
              </li>
        </ul>
    </nav>
    
</body>

</html>